
cmake-build-debug
/cmake-build-debug/*
cmake-build-debug/*/**
cmake-build-debug/

/cmake-build-debug

/.idea/
.idea
.idea/*
.idea/**
.vscode/**
.vscode/
/.vscode/

build/*
CMakeFiles/*
cmake_install.cmake
CMakeCache.txt
Makefile
Cherry